@media (max-width:992px) {
    .nav {
        gap: 150px;
    }

    .nav-links{
        position: absolute;
        top: 65px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        border-top: 0px;
        border-radius: 0px 0px 15px 15px;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
    }

    .menu-icon {
        display: flex;
        order: 2;
        cursor: pointer;
    }

    .open-menu{
        display: flex;
        background-image: url(/assets/images/wood-floor.jpg);
        width: 200px;
        justify-content: center;
        align-items: center;
    }

    .hero{
        width: 100%;
    }

    .hero-description{
        width: 100%;
        gap: 100px;
    }

    .logo{
        width: 200px;
        height: auto;
        margin-top: 20px;
    }

    .hero-speach{
        font-size: 20px;
        width: 200px;
    }

    .forge-img {
        width: 300px;
        height: auto;
        margin-left: 50px;
    }

    .card-container{
        width: 80%;
    }

    footer{
        gap: 50px;
    }

    .footer-logo{
        width: 100px;
        height: auto;
    }

    .social-links {
        flex-direction: column;
    }

}

@media (max-width:576px) {
    
    .cart{
        left: 0;
        width: 100%;
        border: none;
    }

    .cart-item{
        flex-wrap: wrap;
    }

    .forge-img{
        display: none;
    }

    .section-divider{
        width: 300px;
    }

    .categories {
        flex-direction: column;
    }

    .footer-logo {
        display: none;
    }

}